* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #FB5A0F;
    --color2: #79787f;
    --color3: #fff;
    --color4: #1E1D24;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.643;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;
}

/* Estilos para la sección del encabezado */
header>section {
    padding: 20px 0;
}

/* Estilos para el artículo dentro del encabezado */
header article {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

/* Estilos para el contenedor div dentro del encabezado */
header div {
    display: flex;
    margin: auto;
    align-items: center;
    color: var(--color4);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42em;
}

/* Estilos para el párrafo dentro del contenedor div */
header div p {
    padding-left: 12px;
}

/* Estilos específicos para el primer párrafo dentro del contenedor div */
header div:first-child p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
}

/* Estilos para el ícono dentro del contenedor div */
header div i {
    font-size: 32px;
    color: var(--color1);
}

/* Estilos para el botón dentro del artículo del encabezado */
header article button {
    border: var(--color1);
    padding: 0 10px;
    background-color: var(--color1);
}

/* Estilos para el contenido dentro del botón */
header article button * {
    font-size: 14px;
    color: var(--color3);
    text-decoration: none;
}

/* Estilos al pasar el ratón sobre el botón */
header article button:hover {
    border: var(--color4);
    background-color: var(--color4);
    color: var(--color3);
}

/* Estilos específicos para el color de texto */
header div p,
header div:first-child p {
    color: var(--color2);
}

/* main */
main {
    overflow: auto;
}

/* nav */
/* Estilos para la barra de navegación */
.navbar {
    background-color: var(--color1);
}

/* Estilos para la barra principal */
.bar {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

/* Estilos para el contenido del artículo en la barra */
.bar article {
    height: 60.391px;
    padding: auto;
    display: flex;
    align-items: center;
}

/* Estilos para la navegación principal */
.main-navigation {
    width: 70%;
}

/* Estilos para el icono de búsqueda */
.search-icon {
    font-weight: 400;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    color: var(--color3);
}

/* Estilos para el ícono de búsqueda al pasar el ratón */
.search-icon div i:hover {
    color: var(--color4);
}

.main-navigation nav {
    display: flex;
}

.main-navigation nav {
    display: flex;
}

.main-navigation nav ul {
    list-style-type: none;
    color: white;
    margin-right: 4px;
    padding: 10px 15px;
}

.main-navigation nav ul:hover {
    list-style-type: none;
    background-color: white;
    color: #FB5A0F;
    margin-right: 4px;
    padding: 10px 15px;
}

.main-navigation nav ul:first-child {
    background-color: white;
    color: #FB5A0F;
}

.main-navigation nav ul.has-submenu {
    position: relative;
}

.main-navigation nav ul.has-submenu:hover .submenu {
    display: block;
}

.main-navigation nav ul .submenu {
    display: none;
    min-width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #1E1D24;
    color: #79787f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.main-navigation nav ul .submenu li {
    padding: 10px 0;

}

.main-navigation nav ul .submenu li:hover {
    color: #FB5A0F;
}

.bar article:last-of-type div {
    display: flex;
    justify-content: flex-end;
}

/* nav end */

/* slider */
.slider {
    position: relative;
    width: 100%;
    height: 537px;
    overflow: auto;
    z-index: 1;
}

.slider-container {
    position: relative;
    height: 537px;
    margin: auto;
    overflow: hidden;
    z-index: 99;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide {
    display: none;
}

.slide .text {
    position: absolute;
    top: 20%;
    left: 19%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
}

.text {
    position: relative;
    padding: 20px 130px 60px 40px;
    width: 28%;
    color: #fff;
    font-size: 24px;
    background-color: #1E1D24E6;
    z-index: 3;
}

.text h1 {
    font-size: 42px;
}

.text h3 {
    font-size: 18px;
}

.text h4 {
    padding: 10px 0;
    font-size: 12px;
}

.text button {
    position: absolute;
    padding: 10px;
    border: #fff;
    text-decoration: none;
    background-color: #fff;
    z-index: 999;
}

.text button {
    text-decoration: none;
    background-color: #fff;
}

.text button:last-child {
    left: 280px;
}

.text a {
    margin: 20px 10px;
    text-decoration: none;
    color: #FB5A0F;
}

/* Flechas de Navegacion */
.navigation-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 50px;
    z-index: 999;
}

.arrow {
    padding: 10px 20px;
    border-radius: 100%;
    background-color: #fff;
    font-size: 24px;
    color: #1E1D24;
    cursor: pointer;
}

.arrow:hover {
    background-color: #FB5A0F;
    color: #fff;
}

.text button:hover {
    background-color: #FB5A0F;
}

.text button>a:hover {
    color: #fff;
}



/* slider end */
/* solution */
.solutions {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 80px;
}

.title {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 25px;
}

.card {
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.card>div {
    position: relative;
    width: 400px;
}

.Text_card {
    color: #fff;
    width: 280px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    transition: opacity 0.3s;
}

.card div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 360px;
    background: linear-gradient(90deg, #FC5A0A 0%, #100E0F00 100%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.card div:hover .Text_card {
    opacity: 1;
}

.card div:hover::before {
    opacity: 1;
}

.Text_card a {
    position: absolute;
    text-decoration: none;
    top: 100%;
    padding: 15px;
    background-color: #FB5A0F;
    color: #fff;
}

.Text_card a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #FB5A0F;
}

.solutions article h1 {
    font-size: 32px;
}

.solutions article p {
    font-size: 18px;
}

/* solution end*/

/* WhatWeDo */
.WhatWeDo {
    padding: 60px 0 70px 0;
    background-color: #f6f6f6;
}

.WhatWeDo section {
    max-width: 1200px;
    margin: auto;
}

.WhatWeDo article:first-child h1 {
    color: #1E1D24;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.344em;
    letter-spacing: 0.64px;
    text-align: center;
    padding-bottom: 40px;
}

.WhatWeDo article:last-child {
    display: flex;
    justify-content: center;
}

.WhatWeDo article:last-child a {
    background-color: #fff;
    color: #FB5A0F;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.64px;
    padding: 10px;
}

.WhatWeDo article:last-child a:hover {
    background-color: #FB5A0F;
    color: #fff;
}

.card_check i {
    display: flex;
    align-items: center;
    background-color: #FB5A0F;
    color: #fff;
    line-height: 32px;
    border-radius: 100%;
    font-size: 32px;
    padding: 13px;
    width: 58px;
    height: 58px;
    margin-right: 20px;
}

.card_check i:hover {
    margin-right: 28px;
    line-height: 32px;
    border-radius: 100%;
    font-size: 32px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.card_check {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.card_check div {
    display: flex;
    width: 398px;
}

.card_check div span {
    padding-right: 20px;
    padding-bottom: 40px;
}

.card_check div span h1 {
    width: fit-content;
}

.card_check div span h1:hover {
    color: #FB5A0F;
}

/* WhatWeDo end*/
/* Welding_Expert */

.Welding_Expert section {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0 70px 0;
}

.Welding_Expert section article {
    display: flex;
    width: 50%;
}

.Welding_Expert section article div h1 {
    font-size: 32px;
}

.Welding_Expert section article div p {
    font-size: 14px;
    color: #79787f;
    font-size: 14px;
    line-height: 23.002px;
    padding: 0px 10px 10px 0px;
    text-align: left;
}

.Welding_Expert section article div h2 {
    color: #1e1d24;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 25.92px;
    padding: 0px 0px 2px;
    text-align: left;
}

.Welding_Expert section article div nav i {
    padding-right: 5px;
    font-size: 20px;
    color: #FB5A0F;
}

.Welding_Expert section article div nav li {
    line-height: 30px;
    list-style: none;
    font-size: 14px;
}

.Welding_Expert section article:last-child div img {
    width: 239px;
}

.card_img_left {
    padding-right: 20px;
    font-size: 18px;
}

.card_img_left h2 {
    font-size: 18px;
}

.card_img_right h2 {
    font-size: 18px;
}

.card_img_right {
    padding-left: 20px;
}

.card_img_right a,
.card_img_left a {
    display: flex;
    align-items: end;
    font-size: 14px;
    text-decoration: none;
    color: #FB5A0F;
    width: 113px;
}

.card_img_right a {
    padding-top: 5px;
}

.card_img_left a:hover,
.card_img_right a:hover {
    color: #79787f;
}

/**/

.text-container .span {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 18px;
}

.span1 {
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 205px;
    height: 300px;
    background-color: #fff;
}

article.expanded .span1 {
    top: 0;
    visibility: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.Welding_Expert article {
    display: flex;
    overflow: hidden;
}

.card_img_left,
.card_img_right {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.card_img_right>.text-container {
    margin-left: 20px;
}

.card_img_left>.text-container,
.card_img_right>.text-container {
    position: absolute;
    top: 29%;
    left: 0;
    width: 80%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    transition: top 0.5s;
    visibility: visible;
}

.details-link {
    display: inline-block;
    margin-top: 20px;
}

article.expanded .text-container {
    top: 0;
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


/* Welding_Expert end */

/* Parrrax */
.banner {
    background: url("../img/cta-bg.jpg") no-repeat fixed center center / cover;
    display: block;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 260px;
    text-align: center;
    position: relative;
}

/* Parrrax end */
/* Teams */
.Team section {
    padding: 60px 0 70px 0;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.Team section article:first-child h1 {
    font-size: 32px;
    padding: 0px 20px 30px 20px;
}

.Team section article:first-child p {
    font-size: 14px;
    padding: 0px 20px 30px 20px;
}

.Team section article:last-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Team section article:last-child div {
    width: 360px;
    display: block;
    color: #1E1D24;
}

.Team section article:last-child div img {
    transition: filter 0.3s ease-in-out;
    filter: grayscale(0.4) blur(8px);
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
}

.Team section article:last-child img:hover {
    filter: grayscale(0) blur(0);
}

/* Teams end*/

/* Acordeon */
.Why section {
    padding: 60px 0 70px 0;
    max-width: 1200px;
    margin: auto;
}

.Why section .title_why h1 {
    text-align: center;
    font-size: 32px;
    padding: 0px 20px 30px 20px;
}

.Why section .container {
    width: 50%;

}

/*
.Why section article div p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    background: #e4e4e4;
    transition: all 0.2s ease-in;
}

.Why section article a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 30px 10px;
    border-bottom: 2px solid gray;
}

.Why section article div:target p {
    max-height: 120px;
    padding: 10px;
} 
*/

.container .title {
    cursor: pointer;
    padding: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid gray;
}

.accordion-content {
    padding: 15px;
    display: none;
}

.accordion-content span {
    display: flex;
}

.accordion-content span img {
    width: 245px;
    padding-right: 10px;
}

.rotateflecha {
    transition: all .5s;
    transform: rotate(180deg);
}

.Card_anime div {
    width: 260px;
    padding: 15px 10px 10px 10px;
    border: 1px solid red;
}

.Why section .Card_anime {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.papa_caja {
    display: flex;
}

/* Acordeon End */
/* main end */